.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__wrapper {
    padding: 3rem 2rem 0;
    display: flex;
    align-items: center;
  }

  &__burger-m, &__lang-dropdown {
    display: inline-block;
    background: #151516;
    line-height: 0;
    border-radius: 50%;
    @include transition(all);
    // transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1) 0s;
    cursor: pointer;

    &:hover {
      background: #252526;
      transform: scale(1.2)
    }
  }

  &__lang-dropdown {
    margin-left: auto;
    flex: 0 0 $language-dropdown-size;
  }

  &__logo {
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr 12rem 1fr;
    align-items: center;
    width: 100%;

    &-list {
      margin-left: auto;
      margin-right: 2rem;

      &:last-child {
        margin-left: 2rem;
        margin-right: auto;
      }
    }
  }
}

.menu {
  ul {
    margin-left: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
  }

  &__item {
    margin: 0 1.6rem;
  }

  // &__item:hover {
  //   .menu__link-text {
  //     color: var(--theme-accent-color);
  //   }
  // }

  &__link-text {
    font-size: 1.4rem;
    font-weight: $fw-medium;
    color: $white;
    @include transition(all);

    &:hover {
      color: var(--theme-accent-color);
    }
  }
}
