.main-form {
  color: #303030;

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    :first-child {
      border-radius: 1.5rem 0px 0px 0px;
    }

    :last-child {
      border-radius: 0px 1.5rem 0px 0px;
    }
  }

  &__tabs-item {
    background: #151516;
    padding: 3.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30rem;
    cursor: pointer;

    &.is-active {
      background: $white;

      span {
        color: #303030;
      }
    }

    span {
      font-size: 1.8rem;
      font-weight: $fw-bold;
      padding: 0 4rem 0 1rem;
      color: $white;
    }

    svg {
      height: 4.5rem;
      fill: var(--theme-accent-color);
    }
  }

  &__box {
    background: #FFFFFF;
    padding: 4rem 8rem;
    border-radius: 1.5rem;
  }
  &__heading {
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
  &__subheader {
    margin-top: 3rem;
    margin-bottom: 6rem;
    text-align: center;
    font-weight: $fw-medium;
  }
  &__table {
    width: 100%;

    input {
      margin: 0;
    }

    td {
      width: 50%;
      padding-bottom: 1.6rem;
    }
  }

  &__footer {
    text-align: center;
    margin-top: 2rem;
  }

  &__submit {
    margin: 1.4rem auto 4rem;
  }

  &__small-text {
    font-size: 1.2rem;
    color: var(--theme-primary-text);

    a {
      color: var(--theme-primary-text)!important;
      @include transition(color);
      text-decoration: underline;

      &:hover{
        color: var(--theme-accent-color)!important;
      }
    }
  }
}
