.news {

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__heading {
    margin: 0;
  }
}


.news-item {
  margin-bottom: 6rem;
  color: #000;

  &__info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  &__tag {
    font-weight: $fw-medium;
    border: 1px solid;
    padding: .8rem 1.5rem;
    border-radius: 3rem;
    margin-right: 2rem;
  }

  &__heading {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: $fw-bold;
    margin-bottom: 2rem;
  }

  &__content {
    font-size: 1.4rem;
  }
}
