.person {
  &__heading {
    text-align: left;

    span {
      display: block;
      color: var(--theme-primary-text-accent);
    }
  }

  &__list {
    margin-left: 0;

    li {
      display: flex;
      align-items: flex-start;
      font-weight: $fw-medium;
      margin-bottom: 4.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        display: inline-block;
        content: '';
        flex: 0 0 4rem;
        width: 4rem;
        height: 4rem;
        background-image: url('/images/icons/checkmark.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 3rem;
      }

      span {
        color: var(--theme-primary-text-accent);
      }
    }
  }
}
