.welcome {
  // height: calc(100vh - $header-height);
  height: 100vh;
  padding-top: $header-height;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__lead {
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: $fw-bold;
    color: $white;
    text-align: center;
    margin-bottom: 3rem;

    span {
      color: var(--theme-accent-color);
    }
  }

  &__text {
    text-align: center;
    color: $clr-text-light;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  &__center {
    width: 70%;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin: 0 1rem;
    }
  }

  &__footer {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__down-link {
    position: relative;
  }

  &__contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $white;
      font-size: 1.4rem;
      font-weight: $fw-bold;
      margin-right: 3rem;
      @include transition(all);

      &:hover {
        color: var(--theme-accent-color);
      }
    }

    a:last-child {
      margin: 0;
    }

    .circle-link {
      box-shadow: 0 0 0 0 rgba(48, 48, 48, 1);
      animation: pulse-white 2s infinite;

      &:hover {
        animation-duration: 99s;
        animation-play-state: paused;
      }
    }

    @keyframes pulse-white {
      0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(48, 48, 48, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 1rem rgba(48, 48, 48, 0);
      }

      100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(48, 48, 48, 0);
      }
    }
  }
}

.grid-100 {
  & > .grid-container,
  & > .grid-container > .grid-x {
    height: 100%;
  }
}

// DOWN ARROW ANIMATION
.down-arrow,
.down-arrow:before {
  position: absolute;
  left: 50%;
}

.down-arrow {
  width: 2rem;
  height: 2rem;
  top: 50%;
  margin: -1rem 0 0 -1rem;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  transform: rotate(45deg);
}

.down-arrow:before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  margin: -.8rem 0 0 -.8rem;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

// BUTTON ANIMATION

.button-animation-fill {
  position: relative;
  font-size: 1.2rem;
  font-weight: $fw-bold;
  color: #fff;
  background: none;
  padding: 0;
  overflow: hidden;
  border-radius: 5rem;
  border: 2px solid var(--theme-accent-color);
  transform: translateZ(0);
  @include transition(transform);

  // button style
  pointer-events: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 1.2rem 2.4rem;
  position: relative;
  display: inline-block;

  .button__bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 5rem;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    border: 2px solid #888;
    transform: translateZ(0);
  }

  .button__content {
    position: relative;
    display: flex;
    align-items: center;
    transform: translateZ(0);
  }

  .button__icon {
    height: 2.4rem;
    width: auto;
    stroke: var(--theme-accent-color);
    fill: var(--theme-accent-color);
    margin-right: 1rem;
  }

  .button__bg::before,
  .button__bg::after {
    content: "";
    position: absolute;
    background: var(--theme-accent-color);
  }

  .button__bg::before {
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
  }

  .button__bg::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  span {
    display: block;
    position: relative;
    line-height: 0;
    padding-top: 2px;
    // mix-blend-mode: difference;
  }

  &.is-active {
    .button__bg {
      border-color: var(--theme-accent-color);
    }

    transform: scale(1.1);
  }

  &:hover:not(.is-active) {

    span {
      color: #020202;
    }

    .button__icon {
      fill: #020202;
      stroke: #020202;
    }

    .button__bg {
      transform: scale3d(1.2, 1.2, 1);
    }

    .button__bg::before {
      transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    }

    .button__bg::after {
      opacity: 1;
      transition-duration: 0.01s;
      transition-delay: 0.3s;
    }
  }
}
