// https://codepen.io/ainalem/pen/LJYRxz

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
  transform: scale(0.7);

  path {
    stroke: white;
  }
}
.is-active .hamRotate {
  transform: scale(0.7) rotate(45deg);
}
.is-active .hamRotate180 {
  transform: scale(0.7) rotate(180deg);
}
.hamburger_svg__line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .hamburger_svg__top {
  stroke-dasharray: 40 139;
}
.ham1 .hamburger_svg__bottom {
  stroke-dasharray: 40 180;
}
.is-active .ham1 .hamburger_svg__top {
  stroke-dashoffset: -98px;
}
.is-active .ham1 .hamburger_svg__bottom {
  stroke-dashoffset: -138px;
}
.ham2 .hamburger_svg__top {
  stroke-dasharray: 40 121;
}
.ham2 .hamburger_svg__bottom {
  stroke-dasharray: 40 121;
}
.is-active .ham2 .hamburger_svg__top {
  stroke-dashoffset: -102px;
}
.is-active .ham2 .hamburger_svg__bottom {
  stroke-dashoffset: -102px;
}
.ham3 .hamburger_svg__top {
  stroke-dasharray: 40 130;
}
.ham3 .hamburger_svg__middle {
  stroke-dasharray: 40 140;
}
.ham3 .hamburger_svg__bottom {
  stroke-dasharray: 40 205;
}
.is-active .ham3 .hamburger_svg__top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.is-active .ham3 .hamburger_svg__middle {
  stroke-dashoffset: -102px;
}
.is-active .ham3 .hamburger_svg__bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .hamburger_svg__top {
  stroke-dasharray: 40 121;
}
.ham4 .hamburger_svg__bottom {
  stroke-dasharray: 40 121;
}
.is-active .ham4 .hamburger_svg__top {
  stroke-dashoffset: -68px;
}
.is-active .ham4 .hamburger_svg__bottom {
  stroke-dashoffset: -68px;
}
.ham5 .hamburger_svg__top {
  stroke-dasharray: 40 82;
}
.ham5 .hamburger_svg__bottom {
  stroke-dasharray: 40 82;
}
.is-active .ham5 .hamburger_svg__top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.is-active .ham5 .hamburger_svg__bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .hamburger_svg__top {
  stroke-dasharray: 40 172;
}
.ham6 .hamburger_svg__middle {
  stroke-dasharray: 40 111;
}
.ham6 .hamburger_svg__bottom {
  stroke-dasharray: 40 172;
}
.is-active .ham6 .hamburger_svg__top {
  stroke-dashoffset: -132px;
}
.is-active .ham6 .hamburger_svg__middle {
  stroke-dashoffset: -71px;
}
.is-active .ham6 .hamburger_svg__bottom {
  stroke-dashoffset: -132px;
}
.ham7 .hamburger_svg__top {
  stroke-dasharray: 40 82;
}
.ham7 .hamburger_svg__middle {
  stroke-dasharray: 40 111;
}
.ham7 .hamburger_svg__bottom {
  stroke-dasharray: 40 161;
}
.is-active .ham7 .hamburger_svg__top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.is-active .ham7 .hamburger_svg__middle {
  stroke-dashoffset: 23px;
}
.is-active .ham7 .hamburger_svg__bottom {
  stroke-dashoffset: -83px;
}
.ham8 .hamburger_svg__top {
  stroke-dasharray: 40 160;
}
.ham8 .hamburger_svg__middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .hamburger_svg__bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.is-active .ham8 .hamburger_svg__top {
  stroke-dashoffset: -64px;
}
.is-active .ham8 .hamburger_svg__middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.is-active .ham8 .hamburger_svg__bottom {
  stroke-dashoffset: -64px;
}
