.ta-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-ai-center {
  align-items: center;
}

.c-pointer {
  cursor: pointer;
}

// TODO: add for add sides (find in another projects)
.m-r-1 {
  margin-right: 1rem;
}

.m-r-3 {
  margin-right: 3rem;
}
